<!DOCTYPE html>
<html>
  <head>
    <title>Nagoya</title>
    <%= csrf_meta_tags %>
    <%= display_meta_tags({
       :viewport => "width=device-width, initial-scale=1.0" ,
      })%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' , "data-turbolinks-eval":"false"%>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  <header class="clearfix">
    <div class="header-wrapper">
      <div class="header-content clearfix">
        <h1 class="title">TUFSBBC</h1>
        <a href="https://www.facebook.com/tufsbbc/" , class="fa fa-facebook-square fa-3x"></a>
        <ul>
          <li><%= link_to "MEMBERS" , members_path , :class=>"btn" %></li>
          <li><%= link_to "BLOG" , blogs_path , :class=>"btn"%></li>
          
          <% if user_signed_in? %>
　　　　　　<li><%= link_to "部員ログアウト" , destroy_user_session_path , :method=>:delete , :class=>"btn"%></li>
          <%else%>
          <li><%= link_to "部員ログイン" , new_user_session_path , :class=>"btn"%></li>
          <%end%>
        </ul>
      </div>
    </div>
  </header>
  <content>
    <div class="content-wrapper clearfix">
      <%= yield %>
    </div>
  </content>

    

  <script type="text/javascript">
    $(function(){
        $(".member_content_wrapper .member_item_box").on("click", function() {
            $(this).next().slideToggle();
        });
    });
  </script>
  </body>
</html>
